.form-input {
  display: flex;
  flex-direction: column;
}
.input-label {
  color: var(--smokeyGrey);
  font-weight: 400i;
  font-size: 12px;
  font-family: "poppins";
  margin-bottom: 5px;
  letter-spacing: 2px;
}
input {
  width: 90px;
  font-size: 20px;
  border: 1px solid var(--lightGrey);
  border-radius: 10px;
  padding: 11px 10px;
  font-weight: 800;
  margin-left: 2px;
  outline: none;
}
input:focus {
  outline: 1px solid var(--purple);
}
input::placeholder {
  color: var(--smokeyGrey);
}
.err-input {
  outline: 1px solid var(--lightRed);
}
.err-label {
  color: var(--lightRed);
}
.err-message {
  font-weight: 400;
  font-style: italic;
  margin-top: 10px;
  color: var(--lightRed);
  font-size: 10px;
}
@media (min-width: 700px) {
  input {
    width: 180px;
    font-size: 32px;
    padding: 13px 18px;
  }
  .input-label {
    font-size: 14px;
    letter-spacing: 4px;
  }
  .err-message {
    font-size: 15px;
  }
}
